{% extends "base.html" %}

{% block content %}

    {# Success messages. #}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    {# Prescription creation button. #}
	<a class="btn btn-primary" href="{% url 'prescription_create' %}">Nueva prescripción <i class="bi bi-eyedropper"></i></a>

	<hr>

    {# Prescription card. #}
    <div class="card">

        {# Card head and tabs. #}
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'prescription_search' %}">Buscar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'prescription_list' %}">Lista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Crear</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Editar</a>
                </li>
            </ul>
        </div>

        {# Card body. #}
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Buscar prescripción por residente, medicación o fecha</h6>
            <form action="{% url 'prescription_search' %}" method="POST">
                {% csrf_token %}

                <div class="input-group">
                    <input type="text" name="imput_field" class="form-control">
                    
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Buscar <i class="bi bi-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
