{% extends "base.html" %}
{% load static %}

{% block content %}

	{# Resident card. #}
	<div class="card">
		
		{# Card head and tabs. #}
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'resident_list' %}">Buscar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active disabled" href="#">Detalle</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Crear</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Editar</a>
				</li>
			</ul>
		</div>

		{# Card body. #}
		<div class="card-body">
		
			<p class="h4">Datos residente
				{# Update resident info button. #}
				<a href="{% url 'resident_update' resident.pk %}" class="btn btn-link" data-toggle="tooltip" title="Actualizar">
					<i class="bi bi-pencil-square"></i>
				</a>
			</p>

			<hr>

			{# Resident details. #}
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-3">
							Estado:
							{% if resident.status == 'Activo' %}
								<p class="h5 text-success">{{ resident.status }}</p>
							{% else %}
								<p class="h5 text-danger">{{ resident.status }}</p>
							{% endif %}
						</div>

						<div class="col-md">
							Fecha de admisión:
							<p class="h5">{{ resident.admission_date }}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							Apodo:
							<p class="h5">{{ resident.nickname }}</p>
						</div>

						<div class="col-md">
							Nombre y apellido:
							<p class="h5">{{ resident.first_name }} {{ resident.last_name }}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-8">
							Fecha de nacimiento:
							<p class="h5">{{ resident.birth_date }}</p>
						</div>

						<div class="col">
							Edad:
							<p class="h5">{{ resident.age }} años</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-8">
							Último domicilio:
							<p class="h5">{{ resident.address }}</p>
						</div>

						<div class="col-md">
							Ciudad:
							<p class="h5">{{ resident.city }}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md">
							Tipo y número de documento:
							<p class="h5">{{ resident.id_type }} N° {{ resident.id_number }}</p>
						</div>
					</div>
				</div>
				<div class="col-md mt-3">
					{% if resident.picture %}
						<img src="{{ resident.picture.url }}" class="rounded float-right" height="250" width="250" alt="">
					{% else %}
						<img src="{% static 'img/default-profile.svg' %}" class="rounded float-right" height="250" width="250" alt="">
					{% endif %}
				</div>
			</div>
			
			<hr>

			<p class="h4">Datos médicos
				{# Check prescriptions button. #}
				<a href="{% url 'resident_prescription_list' resident.pk %}" class="btn btn-link" data-toggle="tooltip" title="Ver prescripciones">
                	<i class="bi bi-card-list"></i>
            	</a>
			</p>

			<hr>

			{# Medical details. #}
			<div class="row">
				<div class="col-md">
					Obra social y número de afiliado:
					<p class="h5">{{ resident.health_info.prepaid }} N° {{ resident.health_info.affiliation_number }}</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md">
					Vacuna antigripal 2020:
					{% if resident.health_info.flu_vaccine_2020 %}
						<p class="h5">{{ resident.health_info.flu_vaccine_2020 }}</p>
					{% else %}
						<p class="h5">Sin datos</p>
					{% endif %}
				</div>
				
				<div class="col-md">
					Vacuna antigripal 2021:
					{% if resident.health_info.flu_vaccine_2021 %}
						<p class="h5">{{ resident.health_info.flu_vaccine_2021 }}</p>
					{% else %}
						<p class="h5">Sin datos</p>
					{% endif %}
				</div>

				<div class="col-md">
					Covid-19 primera dosis:
					{% if resident.health_info.covid_dose1 %}
						<p class="h5">{{ resident.health_info.covid_dose1 }}</p>
					{% else %}
						<p class="h5">Sin datos</p>
					{% endif %}
				</div>

				<div class="col-md">
					Covid-19 segunda dosis:
					{% if resident.health_info.covid_dose2 %}
						<p class="h5">{{ resident.health_info.covid_dose2 }}</p>
					{% else %}
						<p class="h5">Sin datos</p>
					{% endif %}
				</div>
			</div>

			<hr>

			<p class="h4">Datos tutor
				{# Update resident tutor info button. #}
				<a href="{% url 'tutor_update' resident.tutor.pk %}" class="btn btn-link" data-toggle="tooltip" title="Actualizar">
					<i class="bi bi-pencil-square"></i>
				</a>
			</p>

			<hr>

			{# Resident details. #}
			<div class="row">
				<div class="col-md">
					Nombre y apellido:
					<p class="h5">{{ resident.tutor }}</p>
				</div>
				
				<div class="col-md">
					DNI / CUIT Facturación:
					<p class="h5">{{ resident.tutor.billing_info }}</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md">
					Teléfono:
					<p class="h5">
						{{ resident.tutor.phone_number }}
						<a href="https://wa.me/549{{ resident.tutor.phone_number }}" target="_blank" rel="noopener noreferrer" class="btn btn-link"
						data-toggle="tooltip" title="Whatsapp">
							<i class="bi bi-whatsapp align-baseline" style="color:mediumseagreen;"></i>
						</a>
					</p>
				</div>
				<div class="col-md">
					E-mail:
					<p class="h5">{{ resident.tutor.email }}</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md">
					Domicilio:
					<p class="h5">{{ resident.tutor.address }}</p>
				</div>
				
				<div class="col-md">
					Ciudad:
					<p class="h5">{{ resident.tutor.city }}</p>
				</div>
			</div>

			<hr>

			{# Go back button. #}
            <a class="btn btn-secondary" href="javascript:history.go(-1)">
				<i class="bi bi-arrow-return-left mr-2"></i>Volver
			</a>
		</div>
	</div>
{% endblock content %}