{% extends "base.html" %}

{% block content %}

    {# Resident card. #}
    <div class="card">

        {# Card head and tabs. #}
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'resident_list' %}">Buscar</a>
                </li>
                <li class="nav-item">
					<a class="nav-link disabled" href="#">Detalle</a>
				</li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Crear</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Editar</a>
                </li>
            </ul>
        </div>

        {# Card body. #}
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Buscar residente por apodo, nombre o apellido
                {# Resident creation button. #}
                <a href="{% url 'resident_create' %}" class="btn btn-primary btn-sm ml-3">
                    <i class="bi bi-person-plus mr-2"></i>Nuevo residente
                </a>
            </h6>

            <form action="{% url 'resident_search' %}" method="POST">
                {% csrf_token %}

                <div class="input-group">
                    <input type="search" name="imput_field" class="form-control">
                    
                    <span class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </span>
                </div>
            </form>

            <br>

            <table class="table table-hover table-bordered">
				
				{# Table headers. #}
				<thead class="thead-dark">
					<tr>
						<th scope="col">Apodo</th>
						<th scope="col">Nombre</th>
						<th scope="col">Apellido</th>
						<th scope="col">Acciones</th>
					</tr>
				</thead>
				
				{# Table body. #}
				<tbody id="tbody">
					{% for resident in resident_list %}
						<tr>
							<td>
                                {% if resident.nickname %}
                                    {{ resident.nickname }}
                                {% endif %}
                            </td>
							<td>{{ resident.first_name }}</td>
							<td>{{ resident.last_name }}</td>
							<td>
								<a href="{% url 'resident_detail' resident.pk %}" class="btn btn-link btn-sm" data-toggle="tooltip" title="Ver detalle">
									<i class="bi bi-eye"></i>
								</a>
								<a href="{% url 'resident_update' resident.pk %}" class="btn btn-link btn-sm" data-toggle="tooltip" title="Actualizar">
									<i class="bi bi-pencil-square"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
        </div>
    </div>
{% endblock content %}
