{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    {# Resident card. #}
    <div class="card">

        {# Card head and tabs. #}
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'resident_list' %}">Buscar</a>
                </li>
                <li class="nav-item">
					<a class="nav-link disabled" href="#">Detalle</a>
				</li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Crear</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active disabled" href="#">Editar</a>
                </li>
            </ul>
        </div>

        {# Card body. #}
        <div class="card-body">
            <p class="h4">Datos residente
                {# Tutor creation button. #}
                <a href="{% url 'tutor_create' %}" class="btn btn-primary btn-sm ml-3">
                    <i class="bi bi-person-plus mr-2"></i>Nuevo tutor
                </a>
            </p>

			<hr>
            
            {% crispy form %}

            {# Go back button. #}
            <a class="btn btn-secondary" href="javascript:history.go(-1)">
                <i class="bi bi-arrow-return-left mr-2"></i>Volver
            </a>

            {# Modal trigger button. #}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                <i class="bi bi-save mr-2"></i>Guardar
            </button>

            {# Modal. #}
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Confirmar</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        
                        <div class="modal-body">
                            Estás seguro de actualizar la información de:
                            <p class="h5">{{ object }} ?</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                <i class="bi bi-arrow-return-left mr-2"></i>Volver
                            </button>
                            <button type="submit" class="btn btn-primary" form="id-ResidentForm">
                                <i class="bi bi-check2 mr-2"></i>Confirmar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}