{% extends "base.html" %}

{% block content %}

	{# Prescription creation button. #}
	<a class="btn btn-primary" href="{% url 'prescription_create' %}">Nueva prescripción <i class="bi bi-eyedropper"></i></a>

	<hr>

	{# Prescription card. #}
	<div class="card">
		
		{# Card head and tabs. #}
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'prescription_search' %}">Buscar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{% url 'prescription_list' %}">Lista</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" aria-disabled="true">Crear</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Editar</a>
				</li>
			</ul>
		</div>

		{# Card body. #}
		<div class="card-body">
			<table class="table table-striped table-bordered" aria-describedby="datatable-buttons_info">
				
				{# Table headers. #}
				<thead class="table-dark">
					<tr>
						<th scope="col">Fecha de prescripción</th>
						<th scope="col">Residente</th>
						<th scope="col">Medicación y dosis</th>
						<th scope="col"></th>
					</tr>
				</thead>
				
				{# Table body. #}
				<tbody>
					{% for prescription in prescription_list %}
					<tr>
						<td>{{ prescription.prescription_date }}</td>
						<td>{{ prescription.resident }}</td>
						<td>{{ prescription.medication }}</td>
						<td>
							<a href="{% url 'prescription_update' prescription.pk %}" class="btn btn-primary btn-sm">Editar <i class="bi bi-pencil-square"></i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock content %}