{# Navbar content. #}

<nav class="nav flex-column navbar-light bg-light col-lg-2 d-md-block">
    <ul class="navbar-nav">
        <li class="nav-item {% if active_page == 'resident' %}active{% endif %}" {% if active_page == 'resident' %}style="font-weight:bold; background-color:lightblue"{% endif %}>
            <a class="nav-link" href="{% url 'resident_list' %}">
                <i class="bi bi-person pr-2"></i>Residentes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if active_page == 'medication' %}active{% endif %}" href="{% url 'medication_list' %}">
                <i class="bi bi-person pr-2"></i>Medicaciones
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if active_page == 'prescription' %}active{% endif %}" href="{% url 'prescription_list' %}">
                <i class="bi bi-person pr-2"></i>Prescripciones
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if active_page == 'resident' %}active{% endif %}" href="{% url 'resident_list' %}">
                <i class="bi bi-person pr-2"></i>Residentes
            </a>
        </li>
    </ul>
</nav>